<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <h3>This is a Login page</h3>
    <!-- <h4>Hello {{name}}</h4>
    <h2>{{request_type}} Request made!!</h2>
    <h1>{{get_flashed_messages(),request,g}}</h1> -->
    <form method="POST">
        <input type="text" name="username">
        <button type="submit">Upload</button>
    </form>
</body>
</html>